  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Doglist?</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
          </ul>

        </div>
      </div>
    </div>
